/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Custom CSS */

.page-ttile {
    border-bottom: 2px solid black;
}

.right-column {
    border-left: 2px solid black;
}

.form-horizontal .control-label {
    text-align: left;
}
.form-horizontal .form-submit {
    text-align: right;
}